div{
    font-weight: bold;
}
h1,h2{
    color:darkslateblue;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
table,thead{
    word-wrap: normal;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
td,th{
    border: 2px solid black;
    padding: 5px;
}
body{
    background-color: floralwhite;
}
td:hover{
    color: orange;
}
a:hover{
    color: orange;
}
.recovered{
    color: green;
}
.death{
    color: red;
}
.active{
    color: blue;
}
.india{
    background-color: #ded3dc;
}
