{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container">

    
    <h1 class="mt-4">About Us</h1>(Best Viewed on PC)
    <p>This webpage is designed just as a project by two students studying in IIITDM Kancheepuram. We just wanted to create
    a website that can show you the COVID 19 spread in India and make it work on slow internet as well.</p>
    <h2>Our Source Code</h2>
    <p>Source code can be found on <a target="_blank" href='https://github.com/anonshubh/covid19-india'>Github</a></p>
    <h2>Developers</h2>
    <ul>
        <li><a target="_blank" href="https://github.com/TheOxFromOutOfTheBox">Kotamarthi Mohan Himanshu</a></li>
        <li><a target="_blank" href='https://github.com/anonshubh/'>Shubh Pathak</a></li>
    </ul>
    <h2>Other Contributors</h2>
    <ul>
        <li><a target="_blank" href='https://www.youtube.com/channel/UC9I7YRGaia55f37U0PwRvMg'>Anil Kumar Saini</a></li>
    </ul>
    
    <h2>API</h2>
    <p>Yesterday's-Data: <a target="_blank" href="https://covid19slim.herokuapp.com/api/yesterday/">https://covid19slim.herokuapp.com/api/yesterday/<a></p>
</div>
{% endblock %}