{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/style-light.css' %}"
</head>
<body>
    <h1>About Us</h1>
    <p>This webpage is designed just as a project by two students studying in IIITDM Kancheepuram. We just wanted to create a website that can show you the COVID 19 spread in India and make it work on slow internet as well.</p>
    <h2>Our Source Code</h2>
    <p>Source code repo can be found on <a target="_blank" href='https://github.com/anonshubh/covid19-india'>Github</a></p>
    <h2>Github Profiles</h2>
    <ul>
        <li><a target="_blank" href="https://github.com/TheOxFromOutOfTheBox">Kotamarthi Mohan Himanshu</a></li>
        <li><a target="_blank" href='https://github.com/anonshubh/'>Shubh Pathak</a></li>
    </ul>
    <h2>Other Contributors</h2>
    <ul>
        <li><a target="_blank" href='https://github.com/anilsaini10/'>Anil Kumar Saini</a></li>
    </ul>
</body>
</html>