{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>India's fight against COVID-19</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <p><a href="{% url 'about' %}">About Us</a></p>
        <h1>India</h1>
        <table>
            <thead>
                <th>Location</th>
                <th>Confirmed(Today)</th>
                <th>Active(Today)</th>
                <th class='recovered'>Recovered(Today)</th>
                <th class='death'>Deaths(Today)</th>
                <th>Case Fatality Rate</th>
                <th>Recovery Ratio</th>
                <th>Recovery-Death Ratio</th>
            </thead>
            <tbody>
            {% for data in combined %}
                {% for i,j,k,l,m,n,o,p,q,r,s,t in data %}
                    <td>{{i}}</td>
                    <td>{{j}}({{k}})</td>
                    <td>{{l}}({{m}})</td>
                    <td class='recovered'>{{n}}({{o}})</td>
                    <td class='death'>{{p}}({{q}})</td>
                    <td>{{r}} %</td>
                    <td>{{s}} {% if s != 'No Recoveries Yet' and s != 'No cases confirmed' %}%{% endif %}</td>
                    <td>{{t}}</td> 
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
    </body>
</html>
