{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>India's fight against COVID-19</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <p style="color: blue;"><a href="{% url 'about' %}">About Us</a></p>
        <h1>
India </h1>
        <table>
            <thead>
                <th>Location</th>
                <th>Confirmed(Today)</th>
                <th>Active(Today)</th>
                <th>Recovered(Today)</th>
                <th>Deaths(Today)</th>
                <th>Case Fatality Rate</th>
                <th>Recovery Ratio</th>
                <th>Recovery-Death Ratio</th>
            </thead>
            <tbody>
            {% for i,j,k,l,m,n,o,p,q,r,s,t in data %}
                <td>{{i}}</td>
                <td>{{j}}({{k}})</td>
                <td>{{l}}({{m}})</td>
                <td>{{n}}({{o}})</td>
                <td>{{p}}({{q}})</td>
                <td>{{r}} %</td>
                <td>{{s}} %</td>
                <td>{{t}}</td> 
            </tbody>
            {% endfor %}
        </table>
    </body>
</html>