<!DOCTYPE html>
<html>
    <head>
        <title>India's fight against COVID-19</title>
        <style>
            h1,h2{
                color:darkslateblue;
                text-align: center;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                }
            table,thead,td{
                word-wrap: normal;
                border: 1px solid black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>India</h1>
        <table>
            <thead>
                <td>Location</td>
                <td>Confirmed(Today)</td>
                <td>Active(Today)</td>
                <td>Recovered(Today)</td>
                <td>Deaths(Today)</td>
                <td>Case Fatality Ratio</td>
                <td>Recovery-Death Ratio</td>
            </thead>
            <tbody>
                <td></td>
            </tbody>
        </table>
        <h1>India's Graph</h1>
        <h2>Total Cases</h2>
        <img src='covidataconf.jpg' alt='Total cases graph' width="800"class='center' >
        <h2>Active Cases</h2>
        <img src='covidataact.jpg' alt='Active cases graph' width="800" class='center'>        
        <h2>Recovered Cases</h2>
        <img src='covidatarec.jpg' alt='Recovered cases graph' width="800"class='center' >       
        <h2>Deaths</h2>
        <img src='covidatadth.jpg' alt='Deaths graph' width="800" class='center'>
    </body>
</html>