{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h1 class="text-center mt-4">Vaccine Data</h1>
    <div class="table-responsive">

        <table class="mt-4 table text-center">
            <thead>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Total Doses Administered</th>
                <th scope="col">Total Individuals Vaccinated </th>
                <th scope="col">Total Covishield Administered </th>
                <th scope="col">Total Covaxin Administered </th>
            </tr>
        </thead>
        <tbody>
            {% for each,data in x.items %}
            <tr>
                <td class="{% if each == 'India'%}india{%endif%}">{{ each }}</td>
                {% for y in data%}
                <td class="{% if each == 'India'%}india{%endif%}">{{ y }}</td>
                {%endfor%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}