{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
    <!-- <p><a class="mt-4 ml-4 btn btn-primary" href="{% url 'about' %}">About Us</a></p> -->
    <h1>India</h1>
    <!-- <a class="ml-4 btn btn-primary" id="index-link" href="{% url 'home' %}">Live</a>
    <a class="ml-4 btn btn-primary" id="yesterday-link" href="{% url 'vaccineinfo' %}">Vaccine Info</a> -->
    <ul class="mt-3">
        <li class='small'><em>Case Fatality Rate</em>: Ratio of the number of deaths due to COVID-19 to the number of
            confirmed cases.</li>
        <li class='small'><em>Recovery Rate</em>: Percent of people recovered from COVID-19.</li>
    </ul>
    <table class="mt-4 table text-center">
        <thead>
            <th>Location</th>
            <th>Confirmed(Yesterday)</th>
            <th class='active'>Active(Yesterday)</th>
            <th class='recovered'>Recovered(Yesterday)</th>
            <th class='death'>Deaths(Yesterday)</th>
        </thead>
        <tbody>
            {% for data in combined %}
            {% for i,j,k,l,m,n,o,p,q in data %}
            <td class="{% if i == 'INDIA' %}india{% endif %}">{{i}}</td>
            <td class="{% if i == 'INDIA' %}india{% endif %}">{{j}}({{k}})</td>
            <td class="active {% if i == 'INDIA' %}india{% endif %}">{{l}}({{m}})</td>
            <td class="recovered {% if i == 'INDIA' %}india{% endif %}">{{n}}({{o}})</td>
            <td class="death {% if i == 'INDIA' %}india{% endif %}">{{p}}({{q}})</td>
            {% endfor %}
        </tbody>
        {% endfor %}
{% endblock %}